<h1>Create Event</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event) do |f| %>
      <%= render 'shared/events/error_messages' %>

      <%= f.label :name, class: 'padding-top-2' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description, class: 'padding-top-2' %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :start_time, class: 'padding-top-2' %>
      <%= f.text_field :start_time, class: 'form-control datetimepicker' %>

      <%= f.label :end_time, class: 'padding-top-2' %>
      <%= f.text_field :end_time, class: 'form-control datetimepicker' %>

      <%= "<h4><bold>Repeat options:</bold></h4>".html_safe %>

      <div class="field form-group">
        <div class="btn-group-horizontal" data-toggle="buttons">
          <%= f.label :repeat, class: "btn btn-primary active" do %>
            <%= f.radio_button :repeat, 1 %>
            Daily
          <% end %>
          <%= f.label :repeat, class: "btn btn-primary" do %>
            <%= f.radio_button :repeat, 2 %>
            Weekly
          <% end %>
          <%= f.label :repeat, class: "btn btn-primary" do %>
            <%= f.radio_button :repeat, 3 %>
            monthly
          <% end %>
      </div>
    </div>

      <%= f.submit "Create Event", :id => "create_event", class: "btn btn-primary padding-top-5" %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('#event_start_time').datetimepicker({});
    $('#event_end_time').datetimepicker({});

    $('#create_event').on("click", function(){
      var event_name = $.trim($("#event_name").val()).length;
      var event_description = $.trim($("#event_description").val()).length;
      var event_start_time = $.trim($("#event_start_time").val()).length;
      var event_end_time = $.trim($("#event_end_time").val()).length;
      if(event_name == 0 || event_description == 0 || event_end_time == 0 || event_start_time == 0){
        alert("Please fill the essential fields.");
        return false;
      }

    });
  });


</script>
